.App {
  text-align: center;
  
}
.form{
  background-color: #FFf; 
  padding: 30px;
}
form{
  background-color: #424242;
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  
}
input{
  width: 100%;
  padding: 10px;
  border-style: none;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
  
}
button{
  width: 100%;
  padding: 10px;
  background-color: #CD5C5C;
  border-style: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
}
H3{
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color:#CD5C5C;
}



